In [1]:
import pandas

In [2]:
# assign directory
dir_name = './datasets/'
file_name = 'udemy.Business.csv'

In [3]:
# load dataframe
dir_name = './datasets/'
file_name = 'udemy.Business.csv'

coursesinfo_df = pandas.read_csv(dir_name + file_name, encoding="utf-8", nrows=None)
coursesinfo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9447 entries, 0 to 9446
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            9447 non-null   int64
 1   title                         9447 non-null   object
 2   url                           9447 non-null   object
 3   is_paid                       9447 non-null   bool
 4   num_subscribers               9447 non-null   int64
 5   avg_rating                    9447 non-null   float64
 6   avg_rating_recent             9447 non-null   float64
 7   rating                        9447 non-null   float64
 8   num_reviews                   9447 non-null   int64
 9   is_wishlisted                 9447 non-null   bool
 10  num_published_lectures        9447 non-null   int64
 11  num_published_practice_tests  9447 non-null   int64
 12  created                       9447 non-null   object
 13  published_time                9447 non-null   object
 14  discount_price__amount        8937 non-null   float64
 15  discount_price__currency      8937 non-null   object
 16  discount_price__price_string  8937 non-null   object
 17  price_detail__amount          9447 non-null   float64
 18  price_detail__currency        9447 non-null   object
 19  price_detail__price_string    9447 non-null   object
dtypes: bool(2), float64(5), int64(5), object(8)
memory usage: 1.3+ MB

In [4]:
# drop unused columns
unusedcols = ['is_wishlisted',
            'price_detail__currency',
            'discount_price__currency',
            'price_detail__price_string',
            'discount_price__price_string',
            'rating']
coursesinfo_df = coursesinfo_df.drop(unusedcols, axis=1)
coursesinfo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9447 entries, 0 to 9446
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            9447 non-null   int64
 1   title                         9447 non-null   object
 2   url                           9447 non-null   object
 3   is_paid                       9447 non-null   bool
 4   num_subscribers               9447 non-null   int64
 5   avg_rating                    9447 non-null   float64
 6   avg_rating_recent             9447 non-null   float64
 7   num_reviews                   9447 non-null   int64
 8   num_published_lectures        9447 non-null   int64
 9   num_published_practice_tests  9447 non-null   int64
 10  created                       9447 non-null   object
 11  published_time                9447 non-null   object
 12  discount_price__amount        8937 non-null   float64
 13  price_detail__amount          9447 non-null   float64
dtypes: bool(1), float64(4), int64(5), object(4)
memory usage: 968.8+ KB

In [5]:
# replace null data in 'price_detail__amount' and 'discount_price__amount'
coursesinfo_df['price_detail__amount'] = coursesinfo_df['price_detail__amount'].apply(lambda x: 0 if pandas.isnull(x) else x) 
coursesinfo_df['discount_price__amount'] = coursesinfo_df['discount_price__amount'].apply(lambda x: 0 if pandas.isnull(x) else x)
coursesinfo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9447 entries, 0 to 9446
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            9447 non-null   int64
 1   title                         9447 non-null   object
 2   url                           9447 non-null   object
 3   is_paid                       9447 non-null   bool
 4   num_subscribers               9447 non-null   int64
 5   avg_rating                    9447 non-null   float64
 6   avg_rating_recent             9447 non-null   float64
 7   num_reviews                   9447 non-null   int64
 8   num_published_lectures        9447 non-null   int64
 9   num_published_practice_tests  9447 non-null   int64
 10  created                       9447 non-null   object
 11  published_time                9447 non-null   object
 12  discount_price__amount        9447 non-null   float64
 13  price_detail__amount          9447 non-null   float64
dtypes: bool(1), float64(4), int64(5), object(4)
memory usage: 968.8+ KB

In [6]:
coursesinfo_df.to_csv(dir_name + 'preprocessed.' + file_name, encoding="utf-8")