In [1]:
# import libraries
import pandas
import numpy

In [2]:
# assign directory
dir_name = './datasets/'
file_name = 'onuni.FinanceAccounting.csv'

# load dataframe
df = pandas.read_csv(dir_name + file_name, encoding="utf-8", nrows=None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13608 entries, 0 to 13607
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            13608 non-null  int64
 1   title                         13608 non-null  object
 2   url                           13608 non-null  object
 3   is_paid                       13608 non-null  bool
 4   num_subscribers               13608 non-null  int64
 5   avg_rating                    13608 non-null  float64
 6   avg_rating_recent             13608 non-null  float64
 7   rating                        13608 non-null  float64
 8   num_reviews                   13608 non-null  int64
 9   is_wishlisted                 13608 non-null  bool
 10  num_published_lectures        13608 non-null  int64
 11  num_published_practice_tests  13608 non-null  int64
 12  created                       13608 non-null  object
 13  published_time                13608 non-null  object
 14  discount_price__amount        12205 non-null  float64
 15  discount_price__currency      12205 non-null  object
 16  discount_price__price_string  12205 non-null  object
 17  price_detail__amount          13111 non-null  float64
 18  price_detail__currency        13111 non-null  object
 19  price_detail__price_string    13111 non-null  object
dtypes: bool(2), float64(5), int64(5), object(8)
memory usage: 1.9+ MB

In [3]:
# check the inputted dataframe
df.head()

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string
0,762616,The Complete SQL Bootcamp 2020: Go from Zero t...,/course/the-complete-sql-bootcamp/,True,295509,4.66019,4.67874,4.67874,78006,False,84,0,2016-02-14T22:57:48Z,2016-04-06T05:16:11Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
1,937678,Tableau 2020 A-Z: Hands-On Tableau Training fo...,/course/tableau10/,True,209070,4.58956,4.60015,4.60015,54581,False,78,0,2016-08-22T12:10:18Z,2016-08-23T16:59:49Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
2,1361790,PMP Exam Prep Seminar - PMBOK Guide 6,/course/pmp-pmbok6-35-pdus/,True,155282,4.59491,4.59326,4.59326,52653,False,292,2,2017-09-26T16:32:48Z,2017-11-14T23:58:14Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
3,648826,The Complete Financial Analyst Course 2020,/course/the-complete-financial-analyst-course/,True,245860,4.54407,4.53772,4.53772,46447,False,338,0,2015-10-23T13:34:35Z,2016-01-21T01:38:48Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
4,637930,An Entire MBA in 1 Course:Award Winning Busine...,/course/an-entire-mba-in-1-courseaward-winning...,True,374836,4.47080,4.47173,4.47173,41630,False,83,0,2015-10-12T06:39:46Z,2016-01-11T21:39:33Z,455.0,INR,₹455,8640.0,INR,"₹8,640"

In [4]:
# check if column rating and avg_rating_recent is the same or not
(df['rating'] == df['avg_rating_recent']).all()

True

In [5]:
# drop unused, irrelevant, and redundant columns.
dropcols = ['is_wishlisted',\
            'url', \
            'price_detail__currency',\
            'discount_price__currency',\
            'price_detail__price_string',\
            'discount_price__price_string',\
            'avg_rating_recent']
df = df.drop(dropcols, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13608 entries, 0 to 13607
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            13608 non-null  int64
 1   title                         13608 non-null  object
 2   is_paid                       13608 non-null  bool
 3   num_subscribers               13608 non-null  int64
 4   avg_rating                    13608 non-null  float64
 5   rating                        13608 non-null  float64
 6   num_reviews                   13608 non-null  int64
 7   num_published_lectures        13608 non-null  int64
 8   num_published_practice_tests  13608 non-null  int64
 9   created                       13608 non-null  object
 10  published_time                13608 non-null  object
 11  discount_price__amount        12205 non-null  float64
 12  price_detail__amount          13111 non-null  float64
dtypes: bool(1), float64(4), int64(5), object(3)
memory usage: 1.3+ MB

In [6]:
# rename columns
df.rename(columns={'num_published_lectures' : 'num_lectures', \
                    'num_published_practice_tests' : 'num_tests', \
                    'avg_rating' : 'average_rating', \
                    'created' : 'time_created', 
                    'published_time' : 'time_published', \
                    'discount_price__amount' : 'discount', \
                    'price_detail__amount' : 'price'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13608 entries, 0 to 13607
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               13608 non-null  int64
 1   title            13608 non-null  object
 2   is_paid          13608 non-null  bool
 3   num_subscribers  13608 non-null  int64
 4   average_rating   13608 non-null  float64
 5   rating           13608 non-null  float64
 6   num_reviews      13608 non-null  int64
 7   num_lectures     13608 non-null  int64
 8   num_tests        13608 non-null  int64
 9   time_created     13608 non-null  object
 10  time_published   13608 non-null  object
 11  discount         12205 non-null  float64
 12  price            13111 non-null  float64
dtypes: bool(1), float64(4), int64(5), object(3)
memory usage: 1.3+ MB

In [7]:
# check null cell in dataframe
df.isnull().sum()

id                    0
title                 0
is_paid               0
num_subscribers       0
average_rating        0
rating                0
num_reviews           0
num_lectures          0
num_tests             0
time_created          0
time_published        0
discount           1403
price               497
dtype: int64

In [8]:
# replace null cell in 'price_detail__amount' 
# and 'discount_price__amount'
isNull = lambda x: 0 if pandas.isnull(x) else x
df['price'] = df['price']\
    .apply(isNull) 
df['discount'] = df['discount']\
    .apply(isNull)
df.isnull().sum()

id                 0
title              0
is_paid            0
num_subscribers    0
average_rating     0
rating             0
num_reviews        0
num_lectures       0
num_tests          0
time_created       0
time_published     0
discount           0
price              0
dtype: int64

In [9]:
# Check the price and discount of courses
print(df['price'].unique())
print(df['discount'].unique())

[ 8640.  5760.  1280.  9280.  2560.  4800.  6720.  2240.  1920. 10240.
  3200.  8960.  6400.  7040.  9600. 12800.  7680.  2880.  4480.  5440.
  1600.  6080.  3520.  8320.  7360.  4160.  8000.  3840.  5120. 12160.
 11520.  9920. 11840. 12480. 10560. 11200.     0. 10880.]
[ 455.  500.    0.  540.  546.  533.  481.  488.  474.  462. 2880.  494.
 1600.  800. 2080.  520.  468.  507.  700.  514.  552.  640. 3200.  960.
 2720. 1920. 1680.  611. 2400.  720. 1280. 2000. 2240. 3040. 2160. 1360.
 1760. 2480. 1120.  760. 1520. 1440.  480. 2320. 1200. 2560. 1840. 2800.
 2960.  560. 2640. 1040.  880. 3120.]

In [10]:
# coverrt currency from INR to USD
# the average conversion factor is 0.013593 referenced from 
# https://www.x-rates.com/average/?from=USD&to=INR&amount=1&year=2020 in 2020 Sep
# for rounding, the chosen conversion factor is 117/8640 ~ 0.013541(6)
conversion_factor = 117/8640
df['price'] *= conversion_factor
df['discount'] *= conversion_factor
# Check the price and discount of courses
print(df['price'].unique())
print(df['discount'].unique())

[117.          78.          17.33333333 125.66666667  34.66666667
  65.          91.          30.33333333  26.         138.66666667
  43.33333333 121.33333333  86.66666667  95.33333333 130.
 173.33333333 104.          39.          60.66666667  73.66666667
  21.66666667  82.33333333  47.66666667 112.66666667  99.66666667
  56.33333333 108.33333333  52.          69.33333333 164.66666667
 156.         134.33333333 160.33333333 169.         143.
 151.66666667   0.         147.33333333]
[ 6.16145833  6.77083333  0.          7.3125      7.39375     7.21770833
  6.51354167  6.60833333  6.41875     6.25625    39.          6.68958333
 21.66666667 10.83333333 28.16666667  7.04166667  6.3375      6.865625
  9.47916667  6.96041667  7.475       8.66666667 43.33333333 13.
 36.83333333 26.         22.75        8.27395833 32.5         9.75
 17.33333333 27.08333333 30.33333333 41.16666667 29.25       18.41666667
 23.83333333 33.58333333 15.16666667 10.29166667 20.58333333 19.5
  6.5        31.41666667 16.25       34.66666667 24.91666667 37.91666667
 40.08333333  7.58333333 35.75       14.08333333 11.91666667 42.25      ]

In [11]:
print(df['price'].unique())
print(df['discount'].unique())

[117.          78.          17.33333333 125.66666667  34.66666667
  65.          91.          30.33333333  26.         138.66666667
  43.33333333 121.33333333  86.66666667  95.33333333 130.
 173.33333333 104.          39.          60.66666667  73.66666667
  21.66666667  82.33333333  47.66666667 112.66666667  99.66666667
  56.33333333 108.33333333  52.          69.33333333 164.66666667
 156.         134.33333333 160.33333333 169.         143.
 151.66666667   0.         147.33333333]
[ 6.16145833  6.77083333  0.          7.3125      7.39375     7.21770833
  6.51354167  6.60833333  6.41875     6.25625    39.          6.68958333
 21.66666667 10.83333333 28.16666667  7.04166667  6.3375      6.865625
  9.47916667  6.96041667  7.475       8.66666667 43.33333333 13.
 36.83333333 26.         22.75        8.27395833 32.5         9.75
 17.33333333 27.08333333 30.33333333 41.16666667 29.25       18.41666667
 23.83333333 33.58333333 15.16666667 10.29166667 20.58333333 19.5
  6.5        31.41666667 16.25       34.66666667 24.91666667 37.91666667
 40.08333333  7.58333333 35.75       14.08333333 11.91666667 42.25      ]

In [12]:
# add calculation to dataframe
df['discount_percent'] = (df['discount'] * 100.0 / df['price'])\
    .apply(isNull)
df['discount_percent'].apply(lambda x: 0 )
df['rating_deviation'] = df['rating'] - df['average_rating']
df[{'rating_deviation', 'discount_percent'}].head()

   rating_deviation  discount_percent
0           0.01855          5.266204
1           0.01059          5.266204
2          -0.00165          5.266204
3          -0.00635          5.266204
4           0.00093          5.266204

In [13]:
df.to_csv(dir_name + 'preprocessed.' + file_name, encoding="utf-8")